<div class="recent_tweets bg-white border border_dark rounded p-4 my-3  mx-auto">
  <h3 class="my-3">Recent Reports</h3>
  <div class="border border_dark"></div>
  <% tweets.each do |tweet| %>
    <div class="media my-3">
      <%= image_tag tweet.user.profile_images.first.image.url,
       class: 'align-self-center mr-3 rounded' %>
      <div class="media-body pt-2">
        <h5 class="mt-0 d-inline">
          <%= link_to "#{tweet.user.username}", user_path(tweet.user.id)%>
        </h5>
        <span class="time_ago"> <%= time_ago_in_words(tweet.created_at) %> </span>
        <p class="tweet pt-2">  <%= tweet.text %> </p>
      </div>
    </div>
  <% end %>
</div>
