<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<div class="recent_tweets bg-white border border_dark rounded">
  <h3>Recent Tweets</h3>
  <% @tweets.each do |tweet| %>
    <div class="media">
    <img src="..." class="align-self-center mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0"><%= tweet.user.username %></h5>
      <p>  <%= tweet.text %> </p>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Opinion', new_opinion_path %>
