<div class="ribbon py-3 sticky-top pl-0">
  <h2 class="text-center pt-2 pl-5">Scientific Reports</h2>
</div>

<%= render 'users/who_to_follow', unfollowings: current_user.unfollowings %>

<%= render 'form', user: @user %>

<%= render 'opinions/recent_tweets', tweets: @tweets %>

<br>
