<div class="ribbon border-bottom border-dark py-4">
  <h2>Tweets</h2>
</div>
<%= render 'users/who_to_follow', unfollowings: current_user.unfollowings %>

<%= render 'form', user: @user %>

<%= render 'opinions/recent_tweets', tweets: @tweets %>

<br>
