<div class="comments mt-1">
  <% comments.each do |comment| %>
    <div class="media my-2">
      <%= image_tag comment.user.profile_images.first.image.url,
       class: 'align-self-end mr-3 rounded-circle' %>
      <div class="media-body w-75">
        <div class="w-100" >
          <p class="d-flex justify-content-end align-items-center">
            <span class="text-muted">
              <%= link_to "#{comment.user.username}", user_path(comment.user.id) %>
            </span>
            <span class="ml-1">
               commented
               <%= time_ago_in_words(comment.created_at) %>
               ago
            </span>
          </p>
          <p class="text-break text-wrap"> <%= comment.content %> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
