<span class="text-muted text-wrap word-break">
  Followed by
  <span class="text-primary followed_by">
    <%= link_to "#{user.username}", user_path(user.id), class: "text-primary" %>
  </span>
</span>
