<div class="p-3 followers">
  <% followers.each do |follower| %>
  <div class="media my-3">
    <%= image_tag follower.profile_images.first.image.url,
     class: 'align-self-center mr-3 rounded' %>
  <div class="media-body">
    <h5 class="mt-0">
        <%= link_to "#{follower.username}", user_path(follower.id)%>
    </div>
  </div>
  <% end %>
</div>
