
<% content_for :right do %>
<div class="p-3 who_to_follow">
  <h4>Who to follow</h4>

  <% unfollowings.each do |unfollowing| %>
  <div class="media my-3">
    <%= image_tag unfollowing.profile_images.first.image.url,
     class: 'align-self-center mr-3 rounded' %>
  <div class="media-body">
    <h5 class="mt-0">
        <%= link_to "#{unfollowing.username}", user_path(unfollowing.id)%>

    <p>  You can follow this user. </p>
    </div>
  </div>

  <% end %>
</div>
<% end %>
