<% content_for :right do %>
  <div class="p-3 who_to_follow text-wrap overflow-hidden">
    <h4 class="text-center py-3 sticky-top">WHO TO FOLLOW</h4>
    <% unfollowings.each do |unfollowing| %>
      <div class="media my-3">
        <%= image_tag unfollowing.profile_images.first.image.url,
         class: 'align-self-center mr-3 rounded-circle' %>
        <div class="media-body">
          <div class="mt-0 followed_by_notice text-wrap text-break text-muted">
              <%= link_to "#{unfollowing.username}", user_path(unfollowing.id)%>
              <p><%= followed_by_notice unfollowing %></p>
          </div>
        </div>
        <div class="align-self-center text-muted">
          <%= follow_button(unfollowing) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
