<div class="show_user">
<div class="cover_image">
  <% if @user.cover_image? %>
    <% @user.cover_images.each do |photo| %>
      <%= image_tag photo.image.url %>
    <% end %>
  <% end %>
</div>
<div class="ribbon border-bottom border-dark py-4">
  <h2>Reports</h2>
</div>

<% render 'users/right_profile' %>

<%= render 'opinions/recent_tweets', tweets: @user.opinions %>

</div>
